.train-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.train-header {
    text-align: center;
    margin: 5px 0;
}

.train-params {
    display: flex;
    margin: 20px 0;
}

.train-params span {
    margin-right: 10px;
}

.train-params select {
    margin-right: 30px;
}