.training-day {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    border: 3px solid #007bff;
    border-radius: 5px;
}

.training-day h3 {
    text-align: center;
}

.workout-part {
    display: flex;
    justify-content: space-around;
}

.ex-tip-p {
    text-align: center;
}

.ex-tip {
    font-family: cursive;
    font-size: 21px;
    border-bottom: 3px dotted red;
}