.exercise-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10% 5%;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
}

.image-block {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
}

.image {
    width: 250px;
    height: 300px;
}