.form-search {
    width: 70%;
    margin: 5% auto;
    display: flex;
    justify-items: flex-start;
}

.form-input {
    width: 80%;
    margin-right: 5px;
}

.input {
    width: 100%;
    min-height: 38px;
    border-radius: 0.25rem;
    padding: 5px;
    line-height: 24px;
    border: 1px solid black;
    outline: none;
}

.no-exercise {
    text-align: center;
}