.greet-cont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.greet-cont h2 {
    text-align: center;
    margin: 30px 0;
}

.img-greet-cont {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: flex-end;
}

.li-item {
    background: linear-gradient(90deg, rgba(255,228,196,1) 50%, rgba(255,255,255,1) 100%);
}

