.site-header {
    background-color: rgba(0, 0, 0, .85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link-style {
    text-decoration: none;
    color: #999;
}

.link-style:hover {
    text-decoration: none;
    color: white;
}

.signout-btn {
    color: #999;
    background-color: #212529;
    border: none;
}

.signout-btn:hover {
    color: white;
}